@model myFirstApp_mobile_.Models.brand
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>

<head>
    <title></title>
</head>

<body>

    <h2>Edit Brand</h2>

    @using (Html.BeginForm("Edit","Brand",FormMethod.Post))
    {
        @Html.HiddenFor(model=>model.brand_id)
    <div>
        @Html.LabelFor(model => model.brand_name)

        <div>
            @Html.EditorFor(model => model.brand_name)

        </div>
        <div>
            @Html.ValidationMessageFor(model => model.brand_name, "", new { @class = "text-danger" })

        </div>
        <br />
    </div>
        <div>

            <input type="submit" value="Save" class="btn btn-default" style="margin: 10px;margin-left: 38px;"/>

        </div>
    }

</body>

</html>